{% extends "base.html" %}
{% block scripts %}
{{super()}}
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function(){
            areyouplaying();
        }, 1000);

        $('.containerscroll').infiniteScroll({
          // options
          path: '.pagination__next',
          append: '.post',
          history: false,
        });

    $('.showmore').on('click', function(){
        $(this).html() == "Show less" ? $(this).html('Show more') : $(this).html('Show less');
    });

    $('#autoplay').on('change', function() {
        var val = this.checked ? this.value : '';
        $.ajax({
            url: '/autoplay',
            data: {
                value: val
            },
            type: 'POST',
            success: function(res) {
                console.log(res);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    });
</script>
{% if session['premium'] %}
<script>

function areyouplaying() {
    $.ajax({
        url: '/are_you_playing',
        type: 'GET',
        success: function(res) {
            response = JSON.parse(res);
            track = response[0];
            progress = parseInt(response[1]);
            duration = parseInt(response[2]);
            title = response[3];
            img = response[4];

            $(".album-font-link").removeClass("trackselect");
            $("." + track).addClass("trackselect");

            setplayback(progress, duration)
            time = progress;
            suspend = false;

            $('#composition-play').text(title);

            $('#album-img-playback').attr("src", img);

            $('#album-img-playback').removeAttr('hidden');
            $('#play-btn').hide();
            $('#pause-btn').show();
        },
        error: function(error) {
            console.log(error);
            $('#play-btn').show();
            $('#pause-btn').hide();
        }
    });
}

function playtrack(id) {
    id = id
    var firstWord = id.replace(/ .*/, '');
    var trackid = firstWord.replace("spotify:track:", "");
    $.ajax({
        url: '/play_track',
        data: {
            id: id
        },
        type: 'POST',
        success: function(res) {
            $(".album-font-link").removeClass("trackselect");
            $("." + trackid).addClass("trackselect");
            setplayback(0, res);
            time = 0;
            suspend = false;
            setTimeout(function() {
                areyouplaying();
            }, 500);
            console.log(res);
        },
        error: function(error) {
            $('#alert-message').html(error.responseText);
            $('#alert-modal').modal('show');
        }
    });
}

function nextspotify() {
    $.ajax({
        url: '/next_track',
        type: 'GET',
        success: function(res) {
            setplayback(0, res);
            time = 0;
            suspend = false;
            setTimeout(function() {
                areyouplaying();
            }, 500);
            console.log(res);
        },
        error: function(error) {
            console.log(error)
        }
    });
}

function previousspotify() {
    $.ajax({
        url: '/previous_track',
        type: 'GET',
        success: function(res) {
            setplayback(0, res);
            time = 0;
            suspend = false;
            setTimeout(function() {
                areyouplaying();
            }, 500);
            console.log(res);
        },
        error: function(error) {
            console.log(error)
        }
    });
}

function seekspotify(position) {
    $.ajax({
        url: '/seek_track',
        data: {
            position: position
        },
        type: 'POST',
        success: function(res) {
            time = parseInt(position);
            suspend = false;
            setTimeout(function() {
                areyouplaying();
            }, 500);
            console.log(res);
        },
        error: function(error) {
            console.log(error)
        }
    });
}

function unplayspotify() {
    $('#play-btn').show();
    $('#pause-btn').hide();
    $.ajax({
        url: '/unplay_spotify',
        type: 'POST',
        success: function(res) {
            suspend = true;
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function unpausespotify() {
    $('#play-btn').hide();
    $('#pause-btn').show();
    $.ajax({
        url: '/unpause_spotify',
        type: 'POST',
        success: function(res) {
            suspend = false;
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
{% endif %}
<script>

function setplayback(value, duration) {
    $('#progressbar').prop({
        'min': 0,
        'max': duration,
        'value': value
    });
}

function playpreviewtrack(id) {
    $.ajax({
        url: '/play_spotify_preview_track',
        data: {
            id: id
        },
        type: 'POST',
        success: function(res) {
            suspend = false;
            duration = 30 * 1000;
            time = 0;
            title = $('.'+id+'').text()
            $('#time-progress').text("00:00");
            $('#progressbar').prop({
                'value': 0
            });
            $('#play-btn').hide();
            $('#pause-btn').show();
            preview_audio(res);
            $(".album-font-link").removeClass("trackselect");
            $("." + id).addClass("trackselect");
            $('#composition-play').text(title);
        },
        error: function(error) {
            $('.' + id).popover('show');
            setTimeout(function() {
                $('.' + id).popover('hide');
            }, 2000);
        }
    });
}

function resumespotifypreview() {
    var x = document.getElementById("preview_audio");
    $('#play-btn').hide();
    $('#pause-btn').show();
    if (time >= duration){
        time = 0;
    }
    suspend = false;
    x.play();
}

function pausespotifypreview() {
    var x = document.getElementById("preview_audio");
    x.pause();
    suspend = true;
    $('#play-btn').show();
    $('#pause-btn').hide();
}

function seekpreview(position) {
    var x = document.getElementById("preview_audio");
    x.currentTime = position / 1000;
    time = parseInt(position);
    resumespotifypreview()
}

function holdrange(time) {
    suspend = true;
    var displaytime = msToHMS(time);
    $('#time-progress').text(displaytime);
}

function msToHMS(duration) {
    var milliseconds = parseInt((duration % 1000) / 100),
        seconds = parseInt((duration / 1000) % 60),
        minutes = parseInt((duration / (1000 * 60)) % 60),
        hours = parseInt((duration / (1000 * 60 * 60)) % 24);
    hours = (hours < 10) ? "0" + hours : hours;
    minutes = (minutes < 10) ? "0" + minutes : minutes;
    seconds = (seconds < 10) ? "0" + seconds : seconds;
    return minutes + ":" + seconds;
}

var time = 0,
    suspend = true,
    duration = 0;
    title = "";

$(document).ready(function() {
    $('#play-btn').show();
    $('#pause-btn').hide();

    {% if playfirsttrack %}
        playtrack('{{tracks[0].firstfive[0][2]}}')
    {% endif %}

    {% if session['premium'] %}
        setTimeout(function(){
            areyouplaying();
        }, 500);
    {% endif %}

    $('.showmore').on('click', function(){
        $(this).html() == "Show less" ? $(this).html('Show more') : $(this).html('Show less');
    });

    $('#autoplay').on('change', function() {
        var val = this.checked ? this.value : '';
        $.ajax({
            url: '/autoplay',
            data: {
                value: val
            },
            type: 'POST',
            success: function(res) {
                console.log(res);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    var timer = setInterval(function() {
        {% if session['premium'] %}
            correction = 0;
        {% else %}
            correction = 1000;
        {% endif %}
        if(!suspend) { // Check it
            $('#progressbar').prop({
                'value': time + correction
            });
            var displaytime = msToHMS(time + correction);
            var displayduration = msToHMS(duration);
            $('#time-progress').text(displaytime);
            $('#time-duration').text(displayduration);
            time = time + 1000;
            if(time >= duration) {
                $('#time-progress').text(msToHMS(duration));
                $('#progressbar').prop({
                    'value': duration
                });
                suspend = true;
                {% if session['premium'] %}
                    setTimeout(function() {
                        areyouplaying();
                    }, 1000);
                {% else %}
                    $('#play-btn').show();
                    $('#pause-btn').hide();
                {% endif %}
            }
        }
    }, 1000);
});

// Removes focus of the playback buttons.
$(".btn").click(function(event) {
    $(this).blur();
});
</script>
{% endblock %}
{% block app_content %}
<style>
.container .jumbotron{
  background-color: rgb(52,58,64, 0.85);
  color: white;
  position:relative;
  padding-bottom: 7px;
}
.rcorners{
  border-radius: 6px;
  background: #fff;
  border: 1px solid #d4d7dd;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

body{
    background: #f1f2f4;
}

.albumheader{
    margin-bottom: 2px;
    padding-left: 4px;
}
</style>

<div class="jumbotron">
    <h1>{{composer.name_short}}</h1>
    <hr class="my-4">
    <h3>Albums with music by {{composer.name_full}}</h3>
    <div class="btn-group">
        <a type="button" href="/" class="btn btn-default filter-button"> Main </a>
    </div>
    <div class="btn-group">
        <button id="playlist-btn" type="button" onclick="createplaylist()" class="btn btn-success"> Add Selected to Playlist </button>
    </div>
</div>

<div class="row form-row">
    <div class="col-xs-5">
        <form class="form">
            <input type="text" class="form-control" name="search" placeholder="{{searchplaceholder}}">
        </form>
    </div>
    <div class="col-xs-5">
        <form class="form">
          <select class="form-control" onchange="this.form.submit()" name="artist" id="artistfilter">
            <option>{{artistselect}}</option>
            {% for artist in artists %}
            <option value="{{artist[0]}}">{{artist[0]}}</option>
            {% endfor %}
          </select>
        </form>
    </div>
    <div class="col-xs-2">
        <a type="button" href="/composeralbums/{{composer.name_short}}/1"class="btn btn-primary clear-btn"><span class="sm-view glyphicon glyphicon-remove" aria-hidden="true"></span><span class="lg-view">Clear</span></a>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="containerscroll">
<form class="post" name="playlistform">
    {% for track in tracks %}
    <div class="rcorners">
    {% include 'composeralbums/_album.html' %}
</div>
    {% endfor %}
</form>
</div>

<a class="pagination__next" href="{{next_page}}" hidden>Next</a>

<div class="footer dummy"></div>

{% if request.MOBILE %}
{% include 'spotify/_footer_mobile.html' %}
{% else %}
{% include 'spotify/_footer.html' %}
{% endif %}
{% include 'spotify/_createplaylistmodal.html' %}
{% endblock %}
