{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Administration</h1>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('admin.admin') }}">Home</a></li>
  <li role="presentation"><a href="{{ url_for('admin.admin_delete') }}">Delete Spotify Data</a></li>
  <li role="presentation"><a href="{{ url_for('admin.admin_spotify') }}">Preview Music</a></li>
  <li role="presentation"><a href="{{ url_for('admin.add_album') }}">Add Album</a></li>
  <li role="presentation"><a href="{{ url_for('admin.sum_albums') }}">Sum Album Counts</a></li>
  <li role="presentation"><a href="{{ url_for('admin.admin_album_fill') }}">Album Fill</a></li>
  <li role="presentation"><a href="{{ url_for('user.send_mass_message') }}">Mass Message</a></li>

</ul>
<br>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

<div class="navbar-fixed-bottom">
{% include '_footermain.html' %}
</div>
{% endblock %}
