<div class="modal fade" id="show-likes-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog .modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Likes</h5>
        </button>
      </div>
      <div class="modal-body">
        <p id="users-liked"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
