<div class="modal fade" id="wiki-info-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="wiki-title">Work Info</h4>
        </button>
      </div>
      <div class="modal-body">
        <p id="wiki-text"></p>
        <span><a href="" target="_blank" id="wikimorelink">Wikipedia</a></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
