{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="description" content="Portal for Classical music streaming on Spotify.">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='boxicons/css/boxicons.min.css')}}">
<style>
body {
    background-color: #f0f3f4;
}
</style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='mainpage.js')}}"></script>
    {{ moment.include_moment() }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Composer Explorer{% else %}Welcome to Composer Explorer{% endif %}
{% endblock %}

{% block navbar %}
<div id="page-container">
    <div id="content-wrap">
<!-- {% include '_patreon.html' %} -->
<nav class="navbar navbar-inverse navbar-wide">
{% include '_navbar.html' %}
</nav>
{% endblock %}

{% block content %}

        {% block app_content %}
        {% endblock %}
        {% include '_alertmodal.html' %}
    </div>
    {% include '_footermain.html' %}
</div>

{% endblock %}



