{% extends 'base.html' %}

{% block app_content %}
    <h1>Disclaimer</h1>
    <ul>
      <li>ComposerExplorer.com is not associated with Spotify Technology SA.</li>
      <li>Artist, album and track records are retrieved through the Spotify search API and do not necessarily represent the full extent of the Spotify catalogue for a given work.</li>
      <li>No guarantee is made as to the accuracy of catalogued composer and work information and use is recommended for recreational purposes only.</li>
      <li>For further information contact <a href = "mailto: admin@composerexplorer.com">admin@composerexplorer.com</a>.</li>
    </ul>
    <p>
    </p>

<div class="navbar-fixed-bottom">
{% include '_footermain.html' %}
</div>
{% endblock %}
