{% extends "base_wide.html" %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
    $('#composerModal').on('hidden.bs.modal', function(e) {
        pausespotify();
    });

    var composers = [{% for composer in chart.composers %}{{composer.id}},{% endfor %}0];

</script>
{% endblock %}
{% block app_content %}
<nav class="navbar navbar-inverse navbar-wide navbar-sub">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown" {% if disable_sort %}disabled{% endif %}> Sort <span class="caret"></span> </button>
            <ul class="dropdown-menu">
                <li><a href="?sort=region">Region</a></li>
                <li><a href="?sort=birth">Birth date</a></li>
                <li><a href="?sort=death">Death date</a></li>
                <li><a href="?sort=popularity">Popularity</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown"> Filter <span class="caret"></span> </button>
            <ul class="dropdown-menu">
                <h6 class="dropdown-header">Period</h6>
                <li><a href="?era=Common">Common Practice</a></li>
                <li><a href="?era=Early">Early</a></li>
                <li><a href="?era=All">All</a></li>
                <li class="divider"></li>
                <h6 class="dropdown-header">Era</h6>
                <li><a href="?era=Baroque">Baroque</a></li>
                <li><a href="?era=Classical">Classical</a></li>
                <li><a href="?era=Romantic">Romantic</a></li>
                <li><a href="?era=20th/21st Century">20th/21st Century</a></li>
                <li class="divider"></li>
                <h6 class="dropdown-header">Misc</h6>
                <li><a href="?filter=catalogued">Explorable</a></li>
                <li><a href="?filter=women">Women</a></li>
            </ul>
        </div>
         <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle filter-button" data-toggle="dropdown"> View <span class="caret"></span> </button>
            <ul class="dropdown-menu">
               <li><a href="/index">Timeline</a></li>
               <li><a href="/tables">Tables</a></li>
            </ul>
         </div>
        <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <button type="button" onclick="getspotify();"  class="btn btn-success" id="spotify-button"><img src="static/Spotify_Logo_RGB_White.png" width="78.7" height="23.61" alt=""></button>
                {% else %}
                <a class="navbar-brand navbar-avatar" href="{{ url_for('user.user', username=current_user.username) }}"><img class="loginavatar" src="{{current_user.avatar(38)}}" width="38" height="38" alt=""></a>
                {% endif %}
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="search" class="form-control composer-search-form" name="search" value="{{ search }}" placeholder="Composer Search">
            </div>
            {% if search %}
            <a href="/" class="btn bg-transparent" style="position: absolute; margin-left: -35px; z-index: 100;"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </form>
    </div>
</nav>


<div class="spinner" hidden></div>

{% if not session['welcome_off'] %}
{{session['welcome']}}
<div id="welcome" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to your Classical Music Portal. Explore composers from the Medieval to the present. <br> Listen to works on <b>Spotify, made navigable for Classical music.</b></p>

    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-search"></i></div>
              <h4>Explore</h4>
              <p>Discover new composers and new works by the composers you love. For the newcomer and the completionist.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-music"></i></div>
              <h4>Play Music</h4>
              <p>Browse albums and connect with your Spotify account to play music and create playlists. Discover new artists.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-message"></i></div>
              <h4>Engage</h4>
              <p>Discuss works and performances, rate albums, track works you've explored, and add composers to your favorites.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <button onclick="getspotify();" class="btn btn-success">Get Started</button> <a href="{{url_for('main.close_welcome')}}" class="btn btn-default filter-button">Hide</a>
  </div>
</div>

{% endif %}

<div class = "stickybar">
    <svg class="chart" width="100%" height="39" role="img">
        <rect class = "datebar" width="100%" height=20 x=0 y=0></rect>
        {% for year in years %}
        <text class = "dates" x="{{ years[year] }}%" y=10 dy=".35em" text-anchor="middle">{{ year }}</text>
        {% endfor %}
        {% for era in eras %}
        <a href="/?era={{era[0]}}">
            <g class="erabar">
                <rect x="{{era[4]}}%" y="20" width="{{era[5]-era[4]}}%" height="19"  style="fill:{{era[3]}}"/>
                {% if request.MOBILE %}
                <text x="{{era[4]+0.5*(era[5]-era[4])}}%" y="30" dx="0px" dy=".35em" text-anchor="middle">{{era[0][:4]}}</text>
                {% else %}
                <text x="{{era[4]+0.5*(era[5]-era[4])}}%" y="30" dx="0px" dy=".35em" text-anchor="middle">{{era[0]}}</text>
                {% endif %}
            </g>
        </a>
        {% endfor %}
    </svg>
</div>

<svg class="chart" width="100%" height="{{chart.svgheight}}" role="img">
    {% for year in years %}
        <rect class = "dateline" width=1 height="{{chart.svgheight}}" x="{{years[year]}}%" y=0></rect>
    {% endfor %}
    <rect class = "currentyearblock" width=1000 height="{{chart.svgheight}}" x="{{current_year}}%" y=0></rect>
    {% for composer in composers %}
        {% if composer.catalogued == True %}
            {% set weight = "600" %}
        {% endif %}
        <g class="bar" id ="{{ composer.name }}" onclick='requestcomposer("{{ composer.id }}");'>
            <rect width="{{ composer.width }}%" height="{{ composer.barheight - 1 }}" x="{{ composer.xposition }}%" y="{{ composer.yposition }}" rx="2" ry="2"></rect>
            <text x="{{ composer.xposition }}%" y="{{ composer.yposition }}" dy="1em" font-weight="{{ weight }}" transform="translate(36 0)">{{ composer.name }}</text>
            <image xlink:href="{{config['STATIC']}}flags/1x1/{{ composer.flag }}.svg" height="15.3" width="15.3" x="{{ composer.xposition }}%" y="{{ composer.yposition }}" transform="translate(1.35 1.35)"/>
            <image xlink:href="{{config['STATIC']}}img/{{ composer.name }}.jpg" height="15.3" width="15.3" preserveAspectRatio="xMidYMid slice" x="{{ composer.xposition }}%" y="{{ composer.yposition }}" transform="translate(18 1.35)"/>
        </g>
            {% if composer.name in distinct %}
                <circle r=3 cx="{{ composer.xposition }}%" fill="#007bff" cy="{{ composer.yposition }}" fill="black" transform="translate(-7 9.5)"/>
            {% endif %}
    {% endfor %}
</svg>

<audio id="preview_audio">
  <source src="" type="audio/mpeg">
</audio>

{% for composer in composers %}
    {% if composer.name in distinct %}
        <a href="/composer/{{ composer.name }}" hidden>{{ composer.name }}</a>
    {% endif %}
{% endfor %}
{% include '_composermodal.html' %}
{% include 'spotify/_getspotifymodal.html' %}
{% endblock %}
